

    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}">
    <!-- <link rel="stylesheet" href="./../css/main.css"> -->
    <title> Add a vid</title>






 
  <body>
    <nav id="nav-id" class="nav-class"></nav>

    <h1 class="add-vid-h1">Add a video below : </h1>

    <div class="inputs-bdd">

        <label for="add-vid">Insert the URL :</label>
        <input type="text" name="add-vid" id="add-vid">

        <label for="">Insert the title :</label>
        <input type="text" name="" id="">

        <label for="">Insert author's name :</label>
        <input type="text" name="" id="">


        <label for="">Insert description : </label>
        <input type="text" name="" id="">

        <label for="">Insert date (MM/YY)</label>
        <input type="text" name="" id="">

    </div>
   
  </body>